@font-face {
    font-family: 'Rawles';
    src: url('Rawles-Regular.woff2') format('woff2'),
        url('Rawles-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

